<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Inputia</string>
  <key>CFBundleVersion</key>
  <string>77</string>
  <key>HandyDevelopmentCandidate</key>
  <true/>
  <key>HandyProfileRunID</key>
  <string>trial-20260905</string>
  <key>InputiaReleaseChannel</key>
  <string>stable</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Inputia 使用麦克风进行本地语音输入。</string>
</dict>
</plist>
