<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>zh_CN</string>
  <key>CFBundleExecutable</key>
  <string>InputiaIMKSpike</string>
  <key>CFBundleIdentifier</key>
  <string>dev.inputia.inputmethod.Spike</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Inputia IMK Spike</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleShortVersionString</key>
  <string>0.0.1</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>MacOSX</string>
  </array>
  <key>CFBundleVersion</key>
  <string>2</string>
  <key>InputMethodConnectionName</key>
  <string>InputiaIMKSpike_Connection</string>
  <key>InputMethodServerControllerClass</key>
  <string>InputiaIMKSpike.InputiaSpikeInputController</string>
  <key>InputMethodServerDelegateClass</key>
  <string>InputiaIMKSpike.InputiaSpikeInputController</string>
  <key>LSBackgroundOnly</key>
  <false/>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>TICapsLockLanguageSwitchCapable</key>
  <true/>
  <key>TISInputSourceID</key>
  <string>dev.inputia.inputmethod.Spike</string>
  <key>tsInputMethodCharacterRepertoireKey</key>
  <array>
    <string>Latn</string>
    <string>zh-Hans</string>
    <string>zh-Hant</string>
  </array>
  <key>tsInputMethodIconFileKey</key>
  <string>inputia.pdf</string>
</dict>
</plist>
