<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>zh_CN</string>
  <key>CFBundleExecutable</key>
  <string>InputiaInputMethod</string>
	<key>CFBundleIconFile</key>
	<string>Inputia.icns</string>
  <key>CFBundleIdentifier</key>
  <string>com.inputia.inputmethod.Inputia</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Inputia</string>
  <key>CFBundleDisplayName</key>
  <string>Inputia</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleSignature</key>
  <string>????</string>
	  <key>CFBundleShortVersionString</key>
	  <string>0.0.44</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>MacOSX</string>
  </array>
	  <key>CFBundleVersion</key>
		<string>44</string>
  <key>InputMethodConnectionName</key>
  <string>com.inputia.inputmethod.Inputia_Connection</string>
  <key>InputMethodServerControllerClass</key>
  <string>InputiaInputMethod.InputiaInputController</string>
  <key>InputMethodServerDelegateClass</key>
  <string>InputiaInputMethod.InputiaInputController</string>
  <key>ComponentInputModeDict</key>
  <dict>
    <key>tsInputModeListKey</key>
    <dict>
			<key>com.inputia.inputmethod.Inputia.Main</key>
			<dict>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>I</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>com.inputia.inputmethod.Inputia.Main</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hans</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>inputia.pdf</string>
        <key>tsInputModeCharacterRepertoireKey</key>
        <array>
          <string>Hans</string>
          <string>Hant</string>
          <string>Latn</string>
        </array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
					<key>tsInputModeKeyEquivalentKey</key>
					<string></string>
					<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>inputia.pdf</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>inputia.pdf</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.inputia.inputmethod.Inputia.Main</string>
		</array>
	</dict>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
  <key>LSBackgroundOnly</key>
  <false/>
  <key>LSUIElement</key>
  <true/>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright 2026 Inputia contributors.</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
	  <key>TICapsLockLanguageSwitchCapable</key>
	  <true/>
	  <key>tsInputMethodCharacterRepertoireKey</key>
  <array>
    <string>Hans</string>
    <string>Hant</string>
    <string>Latn</string>
  </array>
  <key>tsInputMethodIconFileKey</key>
  <string>inputia.pdf</string>
</dict>
</plist>
